nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
}

.logo img {
    height: 40px; /* Adjust based on your logo size */
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #f0f5ff;
    border-radius: 5px;
    width: 600px;
    height: 40px;
}

.search-bar input {
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    background-color: #f0f5ff;
    color: #000;
    width: 400px;
    font-size: 18px;

}

.search-icon {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.nav-items {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-icon {
    cursor: pointer;
}
